{% extends "generator/base.html" %}

{% block title %} {{ entry }} | {{ site_title|default:_('MoodReader') }}{% endblock %}

{% block content %}
    <section class="row">
    <div class="col-sm-12">
            <h1 class="display-3">{{ entry }}</h1>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <p class="card-text">{{ entry.entry }}</p>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="mrg-mood--box__color" style="height: 5vh; background-image: linear-gradient(to right, #{{ entry.gradient_color_stop_1 }}, #{{ entry.gradient_color_stop_2 }}, #{{ entry.gradient_color_stop_3 }}); "></div>
                </div>
            </div>
        </div>
    </div>

    </section>


{% endblock %}