{% extends "generator/base.html" %}
{% load i18n %}

{% block title %}Read My Mood | {{ site_title|default:_('MoodReader') }}{% endblock %}

{% block content %}
    <section class="mrg-section--about">
        <h2>What's MoodReader?</h2>
        <p>MoodReader is a mood ring but for your word. Type in how your feeling, what your thinking of, or even your
            latest tweet to get a generated color gradient of your word mood.</p>
    </section>

    <section class="mrg-section--try">
        <h2>Try it out now!</h2>
        {% if error_message %}
            <div class="alert alert-warning" role="alert"><strong>Warning!</strong> {{ error_message }}</div>
        {% endif %}
        <form action="/mood/new" method="POST" class="container">
            {% csrf_token %}
          <div class="form-group">
            <label for="mood-title">Mood Title</label>
            <input required class="form-control" placeholder="Enter a title" id="entry_title" name="entry_title">
          </div>
          <div class="form-group">
            <label for="mood-entry">Enter in a few words below to see what color your words will turn.</label>
            <textarea required  class="form-control" placeholder="Enter 10 words or more so we can know how your feeling" id="entry" name="entry" rows="3"></textarea>
          </div>
            <button id="btn--send-mood" disabled class="btn btn-warning float-right"><b>Generate Mood</b></button>
    </section>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var moodEntry = $('#entry');
            var btn = $('#btn--send-mood');

            moodEntry.on('keyup',function () {
                let wordCount = $(this).val().match(/\S+/g);
                let currentValueLength = wordCount ? wordCount.length : 0;

                if(currentValueLength <= 10){
                    console.log('enter more words');
                    btn.prop('disabled', true);
                }else {
                    console.log('entered enough');
                    btn.prop('disabled', false);
                }

            });
        })
    </script>
{% endblock %}
