{% extends "generator/base.html" %}

{% block title %} Results | {{ site_title|default:_('MoodReader') }}{% endblock %}

{% block content %}
    <section class="row">
            <div class="col-sm-12 col-md-6 order-md-first order-sm-last order-xs-2 mb-5">

                <h2></h2>
{#                <p>MoodReader looks at all the words you use and give them a color points that is used to generate your mood color.#}
{#                    Using words with positive connotation (happy, love, laugh), will get a higher score and print out brighter colors.#}
{#                    Use words with negative connotation will return lower scores, and darker colors.</p>#}
                 <a class="btn btn-warning" href="/">Try Again</a>
            </div>
            <div class="col-sm-12 col-md-6 order-md-last order-sm-first order-xs-1">
                <h2>Here's Your Mood! </h2>
                <div class="mrg-mood--box" style="height: 35vh;width: 100%;">
                    <div class="mrg-mood--box__color" style="height: 100%; background-image: linear-gradient(to right, {{ color_stops.0 }}, {{ color_stops.1 }}, {{ color_stops.2 }}); "> </div>
                </div>
            <div class="w-100 mt-4">
                <div class="alert alert-mrg" role="Note About Colors">
                    <h3 class="h4 alert-heading mb-0"><img class="mrg-mood--icons mrg-mood--icons__info" src="/static/img/info-icon.svg" alt="Info Icon"> Note About Colors!</h3>
                    <hr class="mt-1 mb-1">
                    <p class="mb-0"> <img class="mrg-mood--icons" src="/static/img/happy-icon.svg" alt="happy face icon"> <b>Positive/happy</b> words  will print bright happy colors
                    <br>
                    <img class="mrg-mood--icons" src="/static/img/sad-icon.svg" alt="sad face icon"> <b>Negative/sad/mad words</b>  will print darker moody colors</p>
                </div>
            </div>
            </div>
    </section>


{% endblock %}