{% extends "generator/base.html" %}

{% block title %} Results | {{ site_title|default:_('MoodReader') }}{% endblock %}

{% block content %}
    {{ entry }}
    <section class="row">
    <div class="col-sm-12">
            <h1 class="display-3">Past Moods Across the Web</h1>
            <p class="lead">See the other colors user have created with their words</p>
    </div>
    <div class="row">
        {% for entry in entries %}
            <div class="card w-100 mb-3">
                <div class="card-header">
                    <h4 class="card-title mb-0 display-4">{{ entry }} id= {{ entry.pk }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-9">
                            <p class="card-text">{{ entry.entry }}</p>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="mrg-mood--box__color" style="height: 5vh; background-image: linear-gradient(to right, {{ entry.gradient_color_stop_1 }}, {{ entry.gradient_color_stop_2 }}, {{ entry.gradient_color_stop_3 }}); ">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

    </section>


{% endblock %}