@import url('https://fonts.googleapis.com/css?family=Nova+Slim|Open+Sans:300,400');
/*
    FONTS
*/
body {
    font-family: 'Open Sans';
}

.mrg-logo--mood {
    font-weight: 300;
    font-size: 95%;
}
.mrg-logo--reader {
    font-family: 'Nova Slim', cursive;
}
/*
    APP STYLES
*/
section{
    margin-bottom: 70px;
}
.navbar {
    background-color: #fff;
    filter: drop-shadow(5px 7px 17px rgba(255,255,255, 0.35))
}

.btn {
    filter: drop-shadow(2px 2px 3px rgba(0,0,0, 0.25));
    text-transform: uppercase;
    font-weight: 400;
}

.btn-warning {
    background-color: blueviolet;
    color: #fff;
    border-color: #760dd7;

}
.alert-mrg {
    background-color: #fbfbfb;
    color: #1b1e21;
    filter: drop-shadow(2px 2px 3px rgba(0,0,0, 0.25));
}
/*
    HOME PAGE
*/
.mrg--title {
    background-image: url(https://media.giphy.com/media/39lWTXEdmp4qnZtHIK/source.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
}
.intro-img {
    filter: grayscale(100%);
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.intro-img:hover {
    filter:grayscale(0%);
    animation: ease-in;
}
/*
    MOOD RESULTS
*/
.mrg-mood--box {
    height: 35vh;
    width: 100%;
}
.mrg-mood--box__color {
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
.mrg-mood--icons {
    height: 40px;
    width: 40px;
}
.mrg-mood--icons_info {
    height: 25px;
    width: 25px;
}

